.navbar{
    background-color: #E87B2A;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.navbar-main{
    /*background-color: #003C71;*/
    justify-content: center;
    position: fixed;
    width: 100%;
}


.navbar h4{
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: auto;
    top: 0;
    left: 0;
    background-color: #003C71;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}

#nav {
    transition: margin-left .5s;
}

#content {
    transition: margin-left .5s;
}

.canva{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

.canva .sector1 {
    grid-column-start: 1;
    width: 100%;
    text-align: center;

}

.canva .sector1 img{
    width: 30%;
    margin-top: 20%;
}

.canva .sector1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    margin-top: 5%;
}

.canva .sector2 {
    grid-column-start: 2;
    background-color: #003C71;
    width: 100%;
}
.sector2{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.formulario{
    background-color: white;
    border-radius: 5px;
    align-self: center;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    width: 65%;
}

.main-content{
    padding-top: 10.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
}
